.text-align-right{
    text-align: end;
}

@media (min-width: 630px) {
    .header-breakpoint {
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width: 630px) {
    .nav-breakpoint {
        justify-content: space-around;
        margin-right: 0 !important;
    }    
}

.pink-groupomania:hover {
    color: #ffd7d7 !important;
}

.dark-gray {
    background-color: darkgray;
    font-style: italic;
}