<div class="container-fluid">
    <div class="row">
        <div class="col-0 col-sm-3">
            <ul class="list-group list-group-horizontal remove-style">
                <li class=""><!----></li>
                <li class=""><!----></li>
            </ul>
        </div>

        <div class="col-6 text-center">
            <img class="" width="250px" src="assets/images/groupomania-logo.png" alt="Logo groupomania"/>
        </div>
        <div class="col-6 col-sm-3 align-self-end"> 
            <ul class="nav nav-tabs me-5">
                <li class="h3"><a routerLink="/signup" class="text-dark nav-link text-decoration-underline">signup</a></li>
                <li class="h3"><a routerLink="/login" class=" active">login</a></li>
            </ul>
        </div>
    </div>
    <div class="container"><hr></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-1 col-md-3">
            <ul class="list-group list-group-horizontal remove-style">
                <li class=""><!----></li>
                <li class=""><!----></li>
            </ul>
        </div>
        
        <form class="col-10 col-md-6">
            <div class="card bg-light container">
                <label class="mt-4" for="inputEmail">Email</label>
                <input type="email" class="form-control mt-2" required>

                <label class="mt-4" for="inputPassword">Mot de passe</label>
                <input type="password" class="form-control mt-2" required>

                <button (click)="navigatePost()" class="mt-5 mb-4 btn btn-success col-7 col-sm-5">Connexion</button>
            </div>
        </form>

        <div class="col-1 col-md-3">
            <ul class="list-group list-group-horizontal remove-style">
                <li class=""><!----></li>
                <li class=""><!----></li>
            </ul>
        </div>
    </div>
</div>