<div *ngIf="isAuth">
    <div class="container-fluid">
        <div class="row">        
            <div class="col-lg-2"> 
                
            </div>

            <div class="col-12 col-lg-8 text-center header-breakpoint ">
                <img class="" width="250px" src="assets/images/groupomania-logo.png" alt="Logo groupomania"/>
                <ul class="nav me-5 align-self-end margin-b nav-breakpoint">
                    <li class="h3"><a routerLink="/post" class="color-goupomania nav-link pink-groupomania"><i class="fas fa-home    "></i></a></li>
                    <li class="h3"><a routerLink="/members" class="text-secondary nav-link pink-groupomania"><i class="fas fa-users    "></i></a></li>
                    <li class="h3"><a routerLink="/create-post" class="text-secondary nav-link pink-groupomania"><i class="fas fa-plus-circle    "></i></a></li>
                    <li class="h3"><a routerLink="/profil/{{ currentUser }}" class="text-secondary nav-link pink-groupomania"><i class="fas fa-user    "></i></a></li>
                    <li class="h3"><a routerLink="/home" class="text-secondary nav-link pink-groupomania" (click)="onLogout()" ><i class="fas fa-sign-out-alt    "></i></a></li>
                </ul>                      
            </div>

            <div class="col-lg-2"> 
                
            </div>
        </div>
        <hr class="mt-0">
    </div>


    <div class="row">
        <div class="col-1 col-lg-3"></div>
    <!--post template-->
        <div class="col-10 col-lg-6" >
            <div *ngFor="let post of posts" class="post card mb-5">
                <a routerLink="/post-details/{{ post.id }}">
                <div class="border-solid">
                    <p class="text-align-right dark-gray pe-3">Le {{ post.createdAt | date: 'dd/MM/yyyy' }} à {{ post.createdAt | date: 'HH:mm' }}</p>
                    <h3 class="mb-3 mx-4">{{ post.title }}</h3>
                    <p class="mx-4">{{ post.description }}</p>
                </div>
                </a>
                
            </div>
        </div>

        <div class="col-1 col-lg-3"></div>
    </div>
</div>

<div *ngIf="!isAuth">
    <app-home></app-home>
</div>


