<div class="container-fluid">
    <div class="row">
        <div class="col-3 col-sm-3 align-self-end"> 
            <ul class="nav me-5">
                <li class="h3"><a routerLink="/post" class="text-dark nav-link">Tous les posts</a></li>
                <li class="h3"><a routerLink="/create-post" class="text-dark nav-link">Ajouter un post</a></li>
            </ul>
        </div>

        <div class="col-6 text-center">
            <img class="" width="250px" src="assets/images/groupomania-logo.png" alt="Logo groupomania"/>
        </div>
        <div class="col-3 col-sm-3 align-self-end"> 
            <ul class="nav me-5">
                <li class="h3"><a routerLink="/home" class="text-dark nav-link">Déconnexion</a></li>
            </ul>
        </div>
    </div>
    <div class="container"><hr></div>
</div>
