<div class="container-fluid">
    <div class="row">
        <div class="col-1 col-sm-3"></div>

        <div class="col-10 col-sm-6 text-center">
            <img class="" width="250px" src="assets/images/groupomania-logo.png" alt="Logo groupomania"/>
        </div>

        <div class="col-1 col-sm-3"></div>
    </div>
    <hr>
</div>


<div class="bg-image d-flex justify-content-center align-items-center bg-cover mask" style="background-image: url('../../assets/images/openspace.png'); height: 100vh; max-width: 100%">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 d-flex justify-content-evenly">
                <button routerLink="/signup" class="btn pink-goupomania red-goupomania border-dark text-size px-5 py-3 border-btn">Inscription</button>
                <button routerLink="/login" class="btn pink-goupomania red-goupomania border-dark text-size px-5 py-3 border-btn">Connexion</button>
            </div>
        </div>
    </div>
</div>



