.bg-cover{
    background-size: cover;
}
.text-size{
    font-size: 2.5rem;
}
.border-btn{
    border-top-left-radius: 1.5rem !important;
    border-bottom-right-radius: 1.5rem !important;
    border-top-right-radius: 0rem !important;
    border-bottom-left-radius: 0rem !important;
}
.remove-style{
    list-style-type: none;
}