<div class="container-fluid">
    <div class="row">
        <div class="col-0 col-sm-3">
            <ul class="list-group list-group-horizontal remove-style">
                <li class=""><!----></li>
                <li class=""><!----></li>
            </ul>
        </div>

        <div class="col-6 text-center">
            <img class="" width="250px" src="assets/images/groupomania-logo.png" alt="Logo groupomania"/>
        </div>

        <div class="col-0 col-sm-3">
            <ul class="list-group list-group-horizontal remove-style">
                <li class=""><!----></li>
                <li class=""><!----></li>
            </ul>
        </div>
    </div>
    <hr>
</div>


<div class="bg-image d-flex justify-content-center align-items-center bg-cover mask" style="background-image: url(''); height: 100vh; max-width: 100%">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 d-flex justify-content-evenly">
                <button routerLink="/signup" class="btn btn-secondary text-size px-5 py-3 border-btn">signup</button>
                <button routerLink="/login" class="btn btn-secondary text-size px-5 py-3 border-btn">login</button>
            </div>
        </div>
    </div>
</div>



