.text-align-right{
    text-align: end;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.font-italic{
    font-style: italic;
}

.list-none{
    list-style: none;
}
.margin-b{
    margin-bottom: 0.7rem;
}